@import nib

#section0
	background-color:#0e1226
	background-image:url("../asset/dummi_bkg_fit.png")
	background-repeat:no-repeat
	background-position:center center


#section1
	background-color:#0e1226
	padding:0 20%


#section2
	background-color:#0e1226
	

#section3
	background-color:#0e1226
	padding:0 20%

#section4
	background-color:#0e1226
	padding:0 20%

#section5
	background-color:#0e1226
	padding:0 20%




h1
	font-size:30px

a.email
	font-family:'Georgia'
	color:#3eb0f7
	font-size:20px


#secondTitle
	color:#fff
	padding: 80px 100px 30x 100px;
	
#des1
	font-size:20px
	color:#ddd
	line-height:26px
	font-weight:bold
	margin-bottom:1em

#des2
	font-size:16px
	line-height:26px
	margin-bottom:1em
	color:#bbb

#des3
	font-size:16px
	line-height:26px
	margin-bottom:8em
	color:#bbb


#logo
	height: 90px;
	position: relative;

#logo_main
	position: absolute;
	margin-top: -65px;
	margin-left: -55px;

@keyframes blink
	0%
		opacity: 1.0
	50%
		opacity: 0.5
	100%
		opacity: 1.0

#logo_light
	position: absolute;
	margin-top: -65px;
	margin-left: -55px;
	animation: blink 3s infinite;

title
	padding-top:30px
	

#title_text	
	opacity:0
	

#slogan
	margin-top:20px
	font-family: 'amblelight'
	font-size:10px
	color:white
	font-size:18px
	opacity:0

div.avatar
	position:relative
	height:210px
	width:210px
	padding:10px 6px
	display:inline-block

div.avatar img
	height: 100%
	width: 100%

div.product
	display:table-cell
	position: relative
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	&:hover
		.overlay
			opacity: 0.0
		.overlay p
			display:block

	.overlay
		-webkit-transition: all 0.2s ease-in
		height: 100%
		width: 100%
		position: absolute
		opacity: 0.3
		background: rgba(0,0,0,0.8)
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		overflow: hidden


.overlay p
	color:#ccc
	font-size:20px
	display:none
	padding: 0px 50px

.overlay h3
	color:#fff
	font-size:36px
	padding: 30px 30px 20px 30px


table
	cellpadding: 10px

.product img
	height: auto
	max-width: 100%
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

p.productIntro 
	color:#e1e1e1
	font-size:18px
	padding:0px 100px
	margin-top:-30px
	




img.team 
	margin:auto
	display: block
	padding-bottom: 300px

#des_contact
	color:#E6E6E6
	font-family:Georgia
	font-size:20px
	line-height:30px

.container
	display: flex
	height: 100%
	flex-flow: row nowrap
	justify-content: center
	align-items: stretch

.slat
	position: relative
	width: 20%
	height: 100%

	&:nth-child(2n)
		background-color: #eee

	&:hover
		width: 40%

		.overlay
			opacity: 0

	.overlay
		-webkit-transition: all 0.5 ease-in
		height: 100%
		cursor:poiter
		opacity: 0.8
		background: rgba(0,0,0,0.5)

.slat
	&:nth-child(1)
		background: url("../asset/yangyuyao_avatar.jpg") no-repeat center
	&:nth-child(2)
		background: url("../asset/taoye_avatar.jpg") no-repeat center
	&:nth-child(3)
		background: url("../asset/lanxingcan_avatar.jpg") no-repeat center
	&:nth-child(4)
		background: url("../asset/chenjie_avatar.jpg") no-repeat center
	&:nth-child(5)
		background: url("../asset/hujing_avatar.jpg") no-repeat center
	&:nth-child(6)
		background: url("../asset/wangsiyue_avatar.jpg") no-repeat center
	&:nth-child(7)
		background: url("../asset/wangqingyun_avatar.jpg") no-repeat center

.slat, .slat-text
	-webkit-transition: all 0.2s ease-in

.slat-text
	position: absolute
	overflow: hidden
	width: 100%
	top: 61.8%
	bottom: 24%
	background-color: rgba(0,0,0,0.7)
	&:hover
		bottom: 5%

.slat-text
	color: #FFF
	text-align: center
	padding-top: 12px
	padding-bottom: 12px

.slat-text h1
	font-size:26px
	padding: 10px 5px 5px 10px

.slat-text p
	font-size:16px
	padding: 12px 60px
	font-family:'helvetica'
	&.intro
		color:#ccc
		font-size:14px
		font-family:'Arial'

.slat-text a
	color:#3eb0f7

#section3
	-webkit-transition: all 0.2s ease-in

.hidden
	display: none



