body
	background-color:#0e1226
	background-image:url("../asset/dummi_bkg.png")
	background-repeat:no-repeat
	background-position:center top
	

#logo
	margin-top:300px

#title
	margin-top:20px

#slogan
	margin-top:20px
	font-family:Verdana
	color:#EBEBEB
	font-size:10px

h1
	color:white
	font-family:Segoe WP Black

#content
	padding:200px 20% 

#des1
	color:#E6E6E6
	font-family:Georgia
	font-size:20px
	line-height:30px

#des2
	color:#a1a1a1
	font-family:Georgia
	font-size:16px
	line-height:24px

#contentPart
	margin-top:700px

#avatar
	position:relative
	height:200px
	width:200px
	padding:20px 20px


	