doctype html
include utility
html
  head
    block meta
      meta(charset="utf-8")
      +viewport
      +ua-compatible
      +stylesheet("style/common.css")
    title Dummi Studio
  body
    center
      div#header

    
        div#logo
          img#logo_main(src="asset/dummi_titleImg.png")
          img#logo_light(src="asset/dummi_titleImg_light.png") 

        div#title
           img(src="asset/dummi_title_text.png")



        p#slogan Thinking ahead makes outstanding.

  div#content
    div.contentPart
      h1 ABOUT US
      p#des1 Dummi Studio is a team of geeks who are keen on developing, designing and innovation. We are experienced in practicing new technology and developing fancy product.
      p#des2 Earned our spurs in schooldays,we have a better understanding on  product development. We are now focusing on developing wonderful apps on Android and iOS platform.Besides,cloud computing,LBS, mobile games,mobile medical and wearable devices are our involved fields. What we haven't done really attracts us. We are trying to build the best geek product and the best geek team.

    div.contentPart
      h1 MEMBER INTRODUCTION
      div.avatar
         img(src="asset/yyy_avatar.jpg") 
      div.avatar
         img(src="asset/yyy_avatar.jpg")
      div.avatar
         img(src="asset/yyy_avatar.jpg")
      div.avatar
         img(src="asset/yyy_avatar.jpg")
      div.avatar
         img(src="asset/yyy_avatar.jpg")
      div.avatar
         img(src="asset/yyy_avatar.jpg")
      div.avatar
         img(src="asset/yyy_avatar.jpg")
      div.avatar
         img(src="asset/yyy_avatar.jpg")


    div.contentPart
      h1 PRODUCT INTRODUCTION
      div.product
        img(src="asset/lugo.jpg")
      div.product
        img(src="asset/jike_browser.jpg")

    div.contentPart
      h1 TEAM BUILDING 
        img.team(src="asset/imagineCup.jpg")


    div.contentPart
      h1 CONTACT US & JOIN US

      p#des_contact You are welcomed if you are really a geek.
      p#des_contact Join our warm family no matter where you are.
      p#des_contact Bussiness cooperation is also welcomed if your p#des_contact project is challenging enough.
      p#des_contact email: admin@dummi.org
      p#des_contact QQgroup: 285687641
      p#des_contact Sina WeiBo: www.weibo.com/31eqwehoi

      p#des_contact You can just leave a message here to say something to us. Both encouragement and tease are appreciated.
















      
