doctype html
include utility
html
  head
    block meta
      meta(charset="utf-8")
      +viewport
      +ua-compatible
      +stylesheet("style/common.css")
      +stylesheet("font/stylesheet.css")
      +stylesheet("asset/style/jquery.fullPage.css")
      +stylesheet("asset/style/example.css")
      +javascript("http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      +javascript("http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")


    title Dummi Studio
  body
    #supercontainer
      .section.active#section0

        div#logo
          img#logo_main(src="asset/dummi_titleImg.png")
          img#logo_light(src="asset/dummi_titleImg_light.png") 

        div#title
           img#title_text(src="asset/dummi_title_text.png")

        div#slogan
           img(src="asset/dummi_slogan.png")


      .section#section1
        h1 ABOUT US
        p#des1 Dummi Studio is a team of geeks who are keen on developing, designing and innovation. We are experienced in practicing new technology and developing fancy product.
        p#des2 Earned our spurs in schooldays,we have a better understanding on  product development. We are now focusing on developing wonderful apps on Android and iOS platform.Besides,new technology such as cloud computing,LBS, mobile games,mobile medical and wearable devices are our involved fields. What we haven't done and challenging really attracts us. 
        p#des3 We will develope the best geek product and be the best geek team.

      .section#section2
        .container
          .slat
            .overlay
            .slat-text
              h1 贰叁叁
              p co-founder
          .slat
            .overlay
            .slat-text
              h1 贰叁叁
              p co-founder
              p email:justice@dummi.org
              p.intro Alex is responsible for the team building and product management.He is keen on thinking out new ideas and make it real.
          .slat
            .overlay
            .slat-text
              h1 贰叁叁
              p co-founder
          .slat
            .overlay
            .slat-text
              h1 贰叁叁
              p co-founder
          .slat
            .overlay
            .slat-text
              h1 贰叁叁
              p co-founder
              p co-founder
              p co-founder
              p co-founder
          .slat
            .overlay
            .slat-text
              h1 贰叁叁
              p co-founder
              p co-founder
              p co-founder
              p co-founder
    
      .section#section3
        h1 PRODUCT INTRODUCTION 
        table
          tr
            td
              .product
                .overlay
                  //h3 Lugo
                  //p Lugo in your hand, find interesting friends and topics nearby !
                img(src="asset/footmark.png")
            td
              .product
                .overlay
                  //h3 Jike Browser
                  //p Jike browser on windows phone 7 is simple and rapid, it knows you than you imagine.
                img(src="asset/lugo.png")
            td
              .product
                .overlay
                  //h3 Jike Browser
                  //p Jike browser on windows phone 7 is simple and rapid, it knows you than you imagine.
                img(src="asset/jike-browser.png")
            td
              .product
                .overlay
                  //h3 Jike Browser
                  //p Jike browser on windows phone 7 is simple and rapid, it knows you than you imagine.
                img(src="asset/baixiang.png")
            td
              .product
                .overlay
                  //h3 Jike Browser
                  //p Jike browser on windows phone 7 is simple and rapid, it knows you than you imagine.
                img(src="asset/tianlizi.png")

        h2#secondTitle PRODUCT INTRODUCTION
        div#experiment
         .product
          .overlay
          img(src="asset/aws.png")


      .section#section4
        h1 TEAM BUILDING 

        .slide#slide1
          img.team(src="asset/imagineCup.jpg")
        .slide#slide2
          img.team(src="asset/innovationWorks.png")


      .section#section5
        h1 CONTACT US & JOIN US
        p#des_contact You are welcomed if you are really a geek.
        p#des_contact Join our warm family no matter where you are.
        p#des_contact Bussiness cooperation is also welcomed if your project is challenging enough.
        p#des_contact email: admin@dummi.org
        p#des_contact QQgroup: 285687641
        p#des_contact Sina WeiBo: www.weibo.com/31eqwehoi
        p#des_contact You can just leave a message here to say something to us. 
        //p#des_contact Both encouragement and tease are appreciated.

    #infoMenu
      ul
        li
          a(href="#firstPage") What's Dummi
        li
          a(href="#secondPage") About us
        li
          a(href="#3rdPage") Member Intro
        li
          a(href="#4thPage") Product Intro
        li
          a(href="#fifthPage") Team Building
        li
          a(href="#lastPage") Contact&Join




    +javascript("asset/script/jquery.fullPage.js")
    +javascript("script/timeline.js")








      
