doctype html
include utility
html
  head
    block meta
      meta(charset="utf-8")
      +viewport
      +ua-compatible
    title Dummi Studio
  body
    center
      h1 Under Construction ヾ(❀╹◡╹)ﾉﾞ

